.square-50 {
    width: 50px !important;
    height: 50px !important;
}

.square-100 {
    width: 100px !important;
    height: 100px !important;
}

.square-250 {
    width: 250px !important;
    height: 250px !important;
}

.h-250px {
    height: 250px;
}

.h-350px {
    height: 350px;
}

.square-75 {
    width: 75px !important;
    height: 75px !important;
}

.h-80vh {
    height: 80vh;
}
