# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UNIVERSITY\INHA SOPHOMORE SPRING\Internet Programming\IP PRoject\group-project-humosoft-ip\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
